#itemcard {
    align-items: right;
    width: 70%;
    height: 80%;
    max-height: 1000px;
    padding: auto;
    text-align: center;
    border-radius: 10px;
    box-shadow: 25px 25px 50px #1b1c1b, -25px -25px 50px #2d302f;
    border: 10px;
    align-items: center;
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    border-radius: 40px;
    color: black;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;
    padding-top: 10px;

  }

  #grid {
    display: flex; /* or inline-flex */
    flex-direction: row;
    justify-content: center;
  }
